<!-- 
  Title: about.component.html
  Author: Shane Hingtgen
  Date: 8/31/23
 -->

<!-- header class -->
<header class="container-fluid text-center about">
  <div class="container p-5">
    <!-- section of about -->
    <h1 class="display-1">About Us</h1>

    <p class="lead">
      NodeBucket, born from the boundless curiosity and inventiveness of
      Ravenclaw students, has revolutionized task management in the wizarding
      world. This enchanted app utilizes a complex web of spells and charms,
      intertwining the latest magical algorithms with intuitive design. Its
      user-friendly interface allows users to effortlessly organize tasks, set
      deadlines, and even summon reminders with a mere flick of their wand.
    </p>
  </div>
</header>
<div class="container my-5">
  <div class="row">
    <!-- task column -->
    <div class="col-md-7">
      <h2 class="display-3">Task Management</h2>
      <p class="lead">
        Gaze upon the mesmerizing interface, reminiscent of a bewitched tome,
        where tasks flutter like restless quills, waiting to be captured. A mere
        whisper of "Accio Tasks" summons them forth, and with a gentle
        incantation, tasks are checked off, disappearing like fading
        enchantments.
      </p>
      <!-- reviews -->
      <p class="lead">Some of the feedback we have received includes:</p>
      <ul>
        <li>
          "NodeBucket gets my Gryffindor seal of approval! With this app, tasks
          are like Horcruxes waiting to be conquered. It's like dueling a
          boggart – drag, drop, and defeat! And sharing tasks with my study
          comrades? It's like forming Dumbledore's Army for tasks!"
        </li>
        <li>
          "NodeBucket has found a cozy nook in my heart! Being a proud
          Hufflepuff, I cherish harmony and simplicity. This app's gentle colors
          and friendly sorting feel like a warm hug from a friend. It's like
          nurturing a magical garden of tasks, where each one blooms at its own
          pace."
        </li>
        <li>
          "As a true Ravenclaw, I'm in love with NodeBucket! The intuitive
          charm-filled interface makes task management feel like brewing a
          complex potion. Sorting tasks by urgency is like solving a riddle, and
          dragging tasks? It's like transfiguration magic at my fingertips!"
        </li>
        <li>
          "NodeBucket, what a disappointment. I expected an app worthy of a
          Slytherin's ambition, but alas, it falls short. Dragging tasks feels
          more like untangling Devil's Snare, and the interface lacks the
          elegance of a true cunning design. My plans deserve better tools."
        </li>
      </ul>
    </div>
    <!-- task column end -->
    <div class="col-md-5">
      <img
        src="./assets/task.jpeg"
        alt="a piece of paper for tasks"
        class="img-fluid rounded"
      />
    </div>
  </div>
  <!-- end of row -->
  <hr class="my-5" />
  <div class="row">
    <div class="col-md-5">
      <img
        src="./assets/phone.jpeg"
        alt="a magical cell phone"
        class="img-fluid rounded"
      />
    </div>
    <div class="col-md-7">
      <!-- mobile access -->
      <h2 class="display-3">Mobile Accessibility</h2>
      <p class="lead">
        In the age of mobile marvels, you are both Muggle and Mage, the ordinary
        and the extraordinary intertwined. The device rests in your grasp, a
        source of comfort, creativity, and connection, as you navigate the
        modern tapestry of life, weaving your story in bits and bytes.
      </p>
    </div>
  </div>
  <hr class="my-5" />
  <div class="row">
    <div class="col-md-12">
      <!-- description of our team -->
      <h2 class="display-3 text-center">Our Team</h2>
      <div class="p lead text-center">
        Our team is comprised of the following members:
      </div>
    </div>
  </div>
  <!-- Orion bio -->
  <div class="row my-5">
    <div class="col-md-7">
      <p class="lead">
        <strong>Orion Thistlequill</strong> An inventive Ravenclaw with an
        affinity for conjuring intricate charms and experimenting with enchanted
        ink. Orion Thistlequill's innovative spirit has led to the creation of
        unique quills that write with a touch of magic. Frequently seen in the
        common room surrounded by parchment and prototypes, Orion's creations
        have become sought-after tools for fellow Ravenclaws.
      </p>
    </div>
    <div class="col-md-5">
      <img
        src="./assets/orion.jpeg"
        alt="a wizard in a blue and black robe with blue tie reading a book in the library"
        class="img-fluid rounded"
      />
    </div>
  </div>
  <!-- Luna bio -->
  <div class="row my-5">
    <div class="col-md-7">
      <p class="lead">
        <strong>Luna Silverwing</strong> A Ravenclaw known for her ethereal
        presence and keen intellect. Luna Silverwing's fascination with magical
        creatures and the stars often leads her on whimsical adventures. With
        her ever-curious mind and ability to weave enchanting tales, Luna is a
        favorite companion for late-night stargazing sessions at the Astronomy
        Tower.
      </p>
    </div>
    <div class="col-md-5">
      <img
        src="./assets/luna.jpeg"
        alt="woman in blue witches robe with blue tie, practicing magic under the night sky"
        class="img-fluid rounded"
      />
    </div>
  </div>
  <!-- Rowan bio -->
  <div class="row my-5">
    <div class="col-md-7">
      <p class="lead">
        <strong>Rowan Starwhisper</strong> A scholarly Ravenclaw with a penchant
        for unraveling the mysteries of ancient spells. Rowan Starwhisper's
        fascination with runes and magical history has earned them a reputation
        as a walking encyclopedia. Often found immersed in dusty tomes, Rowan's
        insatiable hunger for knowledge has them exploring hidden nooks of
        Hogwarts in search of forgotten arcane wisdom.
      </p>
    </div>
    <div class="col-md-5">
      <img
        src="./assets/rowan.jpeg"
        alt="woman in a white long sleeve shirt and blue denim jeans sitting on the ground"
        class="img-fluid rounded"
      />
    </div>
  </div>
</div>
<!-- end of container -->
