/* 
Title: contact.component.css
Author: Shane Hingtgen
Date: 8/24/23
*/

/* these styles fix the btns, text and anchor tags to match theme */
.map {
  border: 4px solid black;
}

.btn {
  background-color: #946b2d;
}

.container-fluid {
  color: white;
}

a {
  color: #946b2d;
}
