<!-- 
  Title: tasks.component.html
  Author: Shane Hingtgen
  Date: 8/23/23
 -->

<div class="container-fluid pt-2" style="min-height: 600px">
  <h1 class="text-center">My Tasks!</h1>

  <!-- error messages -->
  <div class="row justify-content-center pt-4">
    <div class="col-sm-10 col-md-8 col-lg-6">
      <div *ngIf="errorMessage">
        <div class="alert alert-danger" role="alert">
          {{ errorMessage }}
        </div>
      </div>

      <div *ngIf="successMessage">
        <div class="alert alert-success" role="alert">
          {{ successMessage }}
        </div>
      </div>
    </div>
  </div>
  <!-- end error messages -->

  <!-- form -->
  <div class="row justify-content-center pt-4">
    <div class="col-sm-10 col-md-8 col-lg-6">
      <form [formGroup]="newTaskForm" (ngSubmit)="addTask()">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            formControlName="text"
            placeholder=" Add a new Task"
            aria-label="Add a new Task"
            aria-describedby="btnAdd"
          />
          <button
            class="btn btn-outline-secondary"
            type="submit"
            [disabled]="!newTaskForm.valid"
            id="btnAdd"
          >
            Add
          </button>
        </div>

        <!-- testing -->
        <div class="form-check form-check-inline">
          <input
            type="radio"
            class="form-check-input"
            formControlName="category"
            name="category"
            id="testingRadio"
            value="testing"
          />
          <label for="testingRadio" class="form-check-label">Testing</label>
        </div>

        <!-- meetings -->
        <div class="form-check form-check-inline">
          <input
            type="radio"
            class="form-check-input"
            formControlName="category"
            name="category"
            id="meetingsRadio"
            value="meetings"
          />
          <label for="meetingsRadio" class="form-check-label">Meetings</label>
        </div>

        <!-- projects -->
        <div class="form-check form-check-inline">
          <input
            type="radio"
            class="form-check-input"
            formControlName="category"
            name="category"
            id="projectsRadio"
            value="projects"
          />
          <label for="projectsRadio" class="form-check-label">Projects</label>
        </div>

        <!-- other -->
        <div class="form-check form-check-inline">
          <input
            type="radio"
            class="form-check-input"
            formControlName="category"
            name="category"
            id="otherRadio"
            value="other"
          />
          <label for="otherRadio" class="form-check-label">Other</label>
        </div>

        <!-- error handling -->
        <div class="mt-2">
          <!-- required  error-->
          <div
            *ngIf="
              newTaskForm.controls['text'].touched &&
              newTaskForm.controls['text'].hasError('required')
            "
          >
            <div
              class="alert alert-danger alert-dismissible fade show"
              role="alert"
            >
              Please enter a Task!

              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"
              ></button>
            </div>
          </div>

          <!-- min length -->
          <div
            *ngIf="
              newTaskForm.controls['text'].touched &&
              newTaskForm.controls['text'].hasError('minlength')
            "
          >
            <div class="alert alert-danger">
              The task field must be at least 3 characters long!
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"
              ></button>
            </div>
          </div>

          <!-- max length -->
          <div
            *ngIf="
              newTaskForm.controls['text'].touched &&
              newTaskForm.controls['text'].hasError('maxlength')
            "
          >
            <div class="alert alert-danger">
              The task field must be at most 50 characters long!
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"
              ></button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- task column -->
  <div class="row gy-3 mt-2 justify-content-center">
    <!-- todo -->
    <div class="col-sm-5 col-md-4 col-lg-3">
      <h4 class="text-center">To Do</h4>

      <div class="p-3 border bg-light">
        <div class="container">
          <!-- message for no todo tasks -->
          <div *ngIf="!todo || todo.length === 0">
            <div class="alert alert-info">No tasks to do yet!</div>
          </div>
          <!-- end message for no todo tasks -->

          <div *ngFor="let item of todo" class="mt-2">
            <div class="row border bg-white">
              <div class="col-sm-6">
                <div class="card-body">
                  <button
                    *ngIf="item.category.categoryName != 'other'"
                    [ngStyle]="{
                      'background-color': item.category.backgroundColor
                    }"
                    data-bs-toggle="tooltip"
                    title="{{ item.category.categoryName }}"
                    style="width: 25%"
                    class="btn"
                  ></button>

                  <div>
                    {{ item.text }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end of todo -->

    <!-- done column -->
    <div class="col-sm-5 col-md-4 col-lg-5">
      <h4 class="text-center">Done</h4>
      <div class="p-3 border bg-light">
        <div class="container">
          <!-- message for no done tasks -->
          <div *ngIf="!done || done.length === 0">
            <div class="alert alert-info">No tasks done yet!</div>
          </div>
          <!-- end of message for no tasks done -->

          <div *ngFor="let item of done" class="mt-2">
            <div class="row border bg-white">
              <div class="col-sm-6">
                <div class="card-body">
                  <button
                    *ngIf="item.category.categoryName != 'other'"
                    [ngStyle]="{
                      'background-color': item.category.backgroundColor
                    }"
                    data-bs-toggle="tooltip"
                    title="{{ item.category.categoryName }}"
                    style="width: 25%"
                    class="btn"
                  ></button>

                  <div>
                    {{ item.text }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end of done -->
  </div>
</div>
