/* 
Title: tasks.component.css
Author: Shane Hingtgen
Date: 8/24/23
*/

/* these styles fix the btns, text and anchor tags to match theme */

.btn {
  background-color: #946b2d;
  color: white;
}

.container-fluid {
  color: white;
}

/* changes the cards inside the columns background */
.bg-color {
  background-color: #223164;
}

.task-column {
  min-height: 200px;
}

.task-hover:hover {
  cursor: pointer;
}
